extends base

block head_includes
	link(rel='stylesheet', href='/stylesheets/issue.css')
	title Issue Reporter

block content
	#issue-wrapper.content-block
		#issue-view

			#issue-head-section
				.vote-section
					.arrows
						span.vote-arrow.up-vote 
						span.vote-arrow.down-vote 
					span.vote-count 0

				h1=issue.name

				a(href="#").button#edit-button Edit

			.issue-field
				.issue-field-label Issue Type:
				.issue-field-content=issue.issueType
			
			.issue-field
				.issue-field-label Priority:
				.issue-field-content=issue.priority

			.issue-field
				.issue-field-label Reporter:
				.issue-field-content 
					a(href="/user/"+issue.reporter.id)=issue.reporter.name

			.issue-field
				.issue-field-label Assignee:
				.issue-field-content Test Assignee

			.issue-field
				.issue-field-label Version:
				.issue-field-content Version B10

			.issue-field
				.issue-field-label Tags:
				.issue-field-content devel,content,ux,design,test

			#description-section.issue-field
				.issue-field-label Description:
				.issue-field-content=issue.description
			
	#comment-wrapper.content-block
		|Comments go here
